<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="msapplication-tap-highlight" content="no" />
    <title><%= appTitle %></title>
  </head>
  <body>
    <%- defaultBodyContent %>
    <script src="scripts/bundle.js"></script>
  </body>
</html>
